@page "/dialog/create"
@using Altinn.ApiClients.Dialogporten.Features.V1
@using Digdir.BDB.Dialogporten.ServiceProvider.Components.Input
@using Digdir.BDB.Dialogporten.ServiceProvider.Components.Input.common
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inject IServiceownerApi ServiceOwnerApi
@rendermode InteractiveServer
<h3>CreateDialogTest</h3>

<EditForm Model="CreateDialog" OnValidSubmit="@(() => Submit())" FormName="CreateDialogTest" @ref="_form">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div>
        <label>Id</label>
        <InputGuid @bind-Value="@CreateDialog.Id"></InputGuid>
        <ValidationMessage For="@(() => CreateDialog.Id)"/>
    </div>

    <div>
        <label>Idempotent Key</label>
        <InputText @bind-Value="@CreateDialog.IdempotentKey"></InputText>
        <ValidationMessage For="@(() => CreateDialog.IdempotentKey)"/>
    </div>

    <div>
        <label>Service Resource</label>
        <InputSelect @bind-Value="@CreateDialog.ServiceResource">
            @foreach (var status in RegClient.Resources)
            {
                <option value=@("urn:altinn:resource:" + status.Identifier)>@status.Identifier</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => CreateDialog.ServiceResource)"/>
    </div>

    <div>
        <label>Party</label>
        <InputText AdditionalAttributes="@_req" @bind-Value="@CreateDialog.Party"></InputText>
        <ValidationMessage For="@(() => CreateDialog.Party)"/>
    </div>

    <div>
        <label>Progress</label>
        <InputNumber @bind-Value="@CreateDialog.Progress"></InputNumber>
        <ValidationMessage For="@(() => CreateDialog.Progress)"/>
    </div>

    <div>
        <label for="extendedStatus">Extended Status</label>
        <InputText id="extendedStatus" @bind-Value="@CreateDialog.ExtendedStatus"></InputText>
        <ValidationMessage For="@(() => CreateDialog.ExtendedStatus)"/>
    </div>

    <div>
        <label for="externalReference">External Reference</label>
        <InputText id="externalReference" @bind-Value="@CreateDialog.ExternalReference"></InputText>
        <ValidationMessage For="@(() => CreateDialog.ExternalReference)"/>
    </div>

    <div>
        <label for="visibleFrom">Visible From</label>
        <DateInputWrapper id="visibleFrom" @bind-Value="@CreateDialog.VisibleFrom"/>
        <ValidationMessage For="@(() => CreateDialog.VisibleFrom)"/>
    </div>

    <div>
        <label for="dueAt">Due At</label>
        <DateInputWrapper id="dueAt" @bind-Value="@CreateDialog.DueAt"/>
        <ValidationMessage For="@(() => CreateDialog.DueAt)"/>
    </div>

    <div>
        <label for="process">Process</label>
        <InputText id="process" @bind-Value="@CreateDialog.Process"></InputText>
        <ValidationMessage For="@(() => CreateDialog.Process)"/>
    </div>

    <div>
        <label for="precedingProcess">Preceding Process</label>
        <InputText id="precedingProcess" @bind-Value="@CreateDialog.PrecedingProcess"></InputText>
        <ValidationMessage For="@(() => CreateDialog.PrecedingProcess)"/>
    </div>

    <div>
        <label>Api Only</label>
        <InputCheckbox @bind-Value="CreateDialog.IsApiOnly"/>
    </div>

    <div>
        <label for="expiresAt">Expires At</label>
        <DateInputWrapper id="expiresAt" @bind-Value="@CreateDialog.ExpiresAt"></DateInputWrapper>
        <ValidationMessage For="@(() => CreateDialog.ExpiresAt)"/>
    </div>

    <div>
        <label for="createdAt">Created At</label>
        <DateInputWrapper id="createdAt" @bind-Value="@CreateDialog.CreatedAt"></DateInputWrapper>
        <ValidationMessage For="@(() => CreateDialog.CreatedAt)"/>
    </div>

    <div>
        <label for="updatedAt">Updated At</label>
        <DateInputWrapper id="updatedAt" @bind-Value="@CreateDialog.UpdatedAt"></DateInputWrapper>
        <ValidationMessage For="@(() => CreateDialog.UpdatedAt)"/>
    </div>

    <div>
        <label for="status">Status</label>
        <InputSelect id="status" @bind-Value="@CreateDialog.Status">
            @foreach (var status in Enum.GetValues<DialogsEntities_DialogStatus>())
            {
                <option value="@status">@status</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => CreateDialog.Status)"/>
    </div>

    <div>
        <label for="systemLabel">System Label:</label>
        <InputSelect id="systemLabel" @bind-Value="@CreateDialog.SystemLabel">
            @foreach (var label in Enum.GetValues<DialogEndUserContextsEntities_SystemLabel>())
            {
                <option value="@label">@label</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => CreateDialog.SystemLabel)"/>
    </div>

    <div>
        <label>Content</label>
        <EditContent AdditionalAttributes="@_req" @bind-Value="@CreateDialog.Content"/>
    </div>

    <fieldset>
        <legend>Search Tags</legend>
        <table>
            @foreach (var tag in CreateDialog.SearchTags)
            {
                <tr>
                    <td>
                        <InputText @bind-Value="tag.Value"></InputText>
                        <ValidationMessage For="@(() => tag.Value)"></ValidationMessage>
                    </td>
                    <td>
                        <button type="button" @onclick="() => CreateDialog.SearchTags.Remove(tag)">Remove</button>
                    </td>
                </tr>
            }
        </table>
        <button type="button"
                @onclick="() => CreateDialog.SearchTags.Add(new V1ServiceOwnerDialogsCommandsCreate_Tag())">
            Add SearchTag
        </button>
    </fieldset>

    <fieldset>
        <legend>Attachment</legend>
        <table>
            @foreach (var attachment in CreateDialog.Attachments)
            {
                <tr>
                    <td>
                        <InputGuid @bind-Value="@attachment.Id"/>
                        <ValidationMessage For="@(() => attachment.Id)"/>
                    </td>
                    <td>
                        <InputAttachmentUrl @bind-Value="@attachment.Urls"/>
                    </td>
                    <td>
                        <InputLocalization @bind-Value="attachment.DisplayName"/>
                    </td>
                    <td>
                        <button type="button" @onclick="() => RemoveAttachment(attachment)">Remove</button>
                    </td>
                </tr>
            }
        </table>
        <button type="button" @onclick="AddAttachment">Add Attachment</button>
    </fieldset>

    <div>
        <InputTransmission @bind-Value="@CreateDialog.Transmissions"/>
    </div>

    <fieldset>
        <!-- Gui actions -->
        <InputGuiActions @bind-Value="CreateDialog.GuiActions"/>
    </fieldset>

    <fieldset>
        <!-- Api actions -->
        <InputApiAction @bind-Value="CreateDialog.ApiActions"/>
    </fieldset>

    <fieldset>
        <!-- Activities -->
        <InputActivites @bind-Value="CreateDialog.Activities"/>
    </fieldset>
    <button type="submit">Submit</button>
</EditForm>
@if (_showPopUp)
{

    <PopUpMessage Header="@_header" Message="@_message" OnClick="() => _showPopUp = false"></PopUpMessage>
}

@code {
    private EditForm _form = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _messageStore = new ValidationMessageStore(_form.EditContext ?? throw new NullReferenceException());
            _form.EditContext.OnValidationRequested += ValidateForm;
        }
    }

    private void ValidateForm(object? sender, ValidationRequestedEventArgs e)
    {
        var context = (EditContext)sender!;

        _messageStore.Clear();

        ValidateContentValue(CreateDialog.Content.Title, nameof(CreateDialog.Content.Title));
        ValidateContentValue(CreateDialog.Content.NonSensitiveTitle, nameof(CreateDialog.Content.NonSensitiveTitle));

        ValidateContentValue(CreateDialog.Content.Summary, nameof(CreateDialog.Content.Summary));
        ValidateContentValue(CreateDialog.Content.NonSensitiveSummary, nameof(CreateDialog.Content.NonSensitiveSummary));

        ValidateContentValue(CreateDialog.Content.SenderName, nameof(CreateDialog.Content.SenderName));

        ValidateContentValue(CreateDialog.Content.AdditionalInfo, nameof(CreateDialog.Content.AdditionalInfo));

        ValidateContentValue(CreateDialog.Content.ExtendedStatus, nameof(CreateDialog.Content.ExtendedStatus));

        ValidateContentValue(CreateDialog.Content.MainContentReference, nameof(CreateDialog.Content.MainContentReference));

        context.NotifyValidationStateChanged();

    }

    private void ValidateContentValue(V1CommonContent_ContentValue? content, string name)
    {
        Console.WriteLine($"name: {name}");
        if (content is null) return;

        if ((content.Value == null || !content.Value.Any()) && !string.IsNullOrEmpty(content.MediaType))
        {
            var fieldId = new FieldIdentifier(CreateDialog, $"Content.{name}.Value");
            _messageStore.Add(fieldId, $"{name} requires at least one localization");
            Console.WriteLine($"Validation error added for {name}");
            return;
        }

        if (content.Value != null && content.Value.Any() && string.IsNullOrEmpty(content.MediaType))
        {
            var fieldId = new FieldIdentifier(CreateDialog, $"Content.{name}.Value");
            _messageStore.Add(fieldId, $"{name} requires mediaType if you have any localization");
            Console.WriteLine($"Validation error added for {name}");
        }

    }

    V1ServiceOwnerDialogsCommandsCreate_Dialog CreateDialog { get; set; } = new();
    private readonly Dictionary<string, object?> _req = new()
    {
        { "required", true }
    };

    bool _showPopUp;
    private string? _header;
    private string? _message;
    private ValidationMessageStore _messageStore = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CreateDialog.Attachments = [];
        CreateDialog.SearchTags = [];
        CreateDialog.Transmissions = [];
        CreateDialog.GuiActions = [];
        CreateDialog.ApiActions = [];
        CreateDialog.Activities = [];
    }
    private void AddAttachment()
    {
        CreateDialog.Attachments.Add(new V1ServiceOwnerDialogsCommandsCreate_Attachment
        {
            Id = null,
            DisplayName = [],
            Urls = []
        });
    }

    private void RemoveAttachment(V1ServiceOwnerDialogsCommandsCreate_Attachment attachment)
    {
        CreateDialog.Attachments.Remove(attachment);
    }

    private async Task Submit()
    {
        var response = await ServiceOwnerApi.V1ServiceOwnerDialogsCreateDialog(CreateDialog);
        Console.WriteLine(response.StatusCode);
        _header = response.StatusCode.ToString();
        _message = response.IsSuccessStatusCode ? response.Content : response.Error.Content;
        _showPopUp = true;
        if (response.IsSuccessStatusCode)
        {
            var guid = response.Content!;
            guid = guid.Trim('"');
            var dialogs = await ProtectedLocalStore.GetAsync<List<string>>("dialogs");
            if (dialogs.Success)
            {
                if (dialogs.Value != null)
                {

                    dialogs.Value.Add(guid);
                    _ = ProtectedLocalStore.SetAsync("dialogs", dialogs.Value);
                }
                else
                {
                    _ = ProtectedLocalStore.SetAsync("dialogs", new List<string>()
                    {
                        guid
                    });
                }
            }
            else
            {

                _ = ProtectedLocalStore.SetAsync("dialogs", new List<string>()
                {
                    guid
                });
            }
        }
    }

}