@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis
@using Altinn.ApiClients.Dialogporten.Features.V1
@inherits InputBase<ICollection<V1ServiceOwnerDialogsCommandsCreate_ApiAction>>

<div class="input-component">
    <legend class="input-legend">API Actions</legend>

    @if (Value != null)
    {
        @foreach (var apiAction in Value)
        {
            <div class="action-item">
                <div class="fields-grid">
                    <div class="form-group form-group-api">
                        <label class="form-label">Id</label>
                        <InputGuid @bind-Value="@apiAction.Id"/>
                        <ValidationMessage For="() => apiAction.Id"/>
                    </div>

                    <div class="form-group form-group-api">
                        <label class="form-label">Action</label>
                        <InputText class="form-input" @bind-Value="@apiAction.Action"/>
                        <ValidationMessage For="() => apiAction.Action"/>
                    </div>

                    <div class="form-group form-group-api">
                        <label class="form-label">Authorization Attribute</label>
                        <InputText class="form-input" @bind-Value="@apiAction.AuthorizationAttribute"/>
                        <ValidationMessage For="() => apiAction.AuthorizationAttribute"/>
                    </div>

                    <div class="form-group form-group-api">
                        <label class="form-label">Name</label>
                        <InputText class="form-input" @bind-Value="@apiAction.Name"/>
                        <ValidationMessage For="() => apiAction.Name"/>
                    </div>

                    <div class="form-group form-group-api">
                        <label class="form-label">Endpoints</label>
                        <InputApiActionEndPoint @bind-Value="@apiAction.Endpoints"/>
                        <ValidationMessage For="() => apiAction.Endpoints"/>
                    </div>
                </div>

                <div class="item-actions">
                    <button type="button"  @onclick="() => Remove(apiAction)">Remove</button>
                </div>
            </div>
        }
    }

    <button type="button"  @onclick="Add">Add API Action</button>
</div>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Value ??= new List<V1ServiceOwnerDialogsCommandsCreate_ApiAction>();
    }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out ICollection<V1ServiceOwnerDialogsCommandsCreate_ApiAction> result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = CurrentValue ?? new List<V1ServiceOwnerDialogsCommandsCreate_ApiAction>();
        validationErrorMessage = "";
        return true;
    }

    private void Remove(V1ServiceOwnerDialogsCommandsCreate_ApiAction action)
    {
        if (Value is null) throw new UnreachableException("API Actions is Null when removing Action, This should not be possible");
        Value.Remove(action);
        ValueChanged.InvokeAsync(Value);
    }

    private void Add()
    {
        if (Value is null) throw new UnreachableException("API Actions is Null when Adding Action, This should not be possible");
        Value.Add(new V1ServiceOwnerDialogsCommandsCreate_ApiAction());
        ValueChanged.InvokeAsync(Value);
    }

}

<link rel="stylesheet" href="InputComponents.css" />
