@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis
@using Altinn.ApiClients.Dialogporten.Features.V1
@using Digdir.BDB.Dialogporten.ServiceProvider.Components.Input.common
@inherits InputBase<ICollection<V1ServiceOwnerDialogsCommandsCreate_Activity>>

<div class="input-component">
    <legend class="input-legend">Activities</legend>

    @if (Value != null)
    {
        @foreach (var activity in Value)
        {
            <div class="action-item">
                <div class="fields-grid">
                    <div class="form-group form-group-activity">
                        <label class="form-label">Id</label>
                        <InputGuid @bind-Value="@activity.Id"/>
                        <ValidationMessage For="@(() => activity.Id)"/>
                    </div>

                    <div class="form-group form-group-activity">
                        <label class="form-label">Created At</label>
                        <DateInputWrapper @bind-Value="@activity.CreatedAt"/>
                        <ValidationMessage For="@(() => activity.CreatedAt)"/>
                    </div>

                    <div class="form-group form-group-activity">
                        <label class="form-label">Extended Type</label>
                        <InputUri @bind-Value="@activity.ExtendedType"/>
                        <ValidationMessage For="@(() => activity.ExtendedType)"/>
                    </div>

                    <div class="form-group form-group-activity">
                        <label class="form-label">Type</label>
                        <InputSelect class="form-select" @bind-Value="@activity.Type">
                            @foreach (var label in Enum.GetValues<DialogsEntitiesActivities_DialogActivityType>())
                            {
                                <option value="@label">@label</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => activity.Type)"/>
                    </div>

                    <div class="form-group form-group-activity">
                        <label class="form-label">Transmission Id</label>
                        <InputGuid @bind-Value="@activity.TransmissionId"/>
                        <ValidationMessage For="@(() => activity.TransmissionId)"/>
                    </div>

                    <div class="form-group form-group-activity">
                        <label class="form-label">Performed By</label>
                        <InputCommonActor @bind-Value="@activity.PerformedBy"/>
                        <ValidationMessage For="@(() => activity.PerformedBy)"/>
                    </div>

                    <div class="form-group form-group-activity">
                        <label class="form-label">Description</label>
                        <InputLocalization @bind-Value="@activity.Description"/>
                        <ValidationMessage For="@(() => activity.Description)"/>
                    </div>
                </div>

                <div class="item-actions">
                    <button type="button"  @onclick="() => Remove(activity)">Remove</button>
                </div>
            </div>
        }
    }

    <button type="button"  @onclick="Add">Add Activity</button>
</div>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Value ??= new List<V1ServiceOwnerDialogsCommandsCreate_Activity>();
    }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out ICollection<V1ServiceOwnerDialogsCommandsCreate_Activity> result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = CurrentValue ?? new List<V1ServiceOwnerDialogsCommandsCreate_Activity>();
        validationErrorMessage = "";
        return true;
    }

    private void Remove(V1ServiceOwnerDialogsCommandsCreate_Activity action)
    {
        if (Value is null) throw new UnreachableException("Activities is Null when removing Action, This should not be possible");
        Value.Remove(action);
        ValueChanged.InvokeAsync(Value);
    }

    private void Add()
    {
        if (Value is null) throw new UnreachableException("Activities is Null when Adding Action, This should not be possible");
        Value.Add(new V1ServiceOwnerDialogsCommandsCreate_Activity());
        ValueChanged.InvokeAsync(Value);
    }

}

<link rel="stylesheet" href="InputComponents.css" />
