@inherits InputBase<ICollection<V1ServiceOwnerDialogsCommandsCreate_AttachmentUrl>>
@using System.Diagnostics.CodeAnalysis
@using Altinn.ApiClients.Dialogporten.Features.V1

<div class="attachment-url-component">
    <div class="url-list">
        @foreach (var url in Value!)
        {
            <div class="url-item">
                <div class="url-fields">
                    <div class="form-group">
                        <label class="form-label">URL</label>
                        <InputUri @bind-Value="url.Url"></InputUri>
                        <ValidationMessage For="@(() => url.Url)"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Media Type</label>
                        <InputText class="form-input" @bind-Value="@url.MediaType"></InputText>
                        <ValidationMessage For="@(() => url.MediaType)"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Consumer Type</label>
                        <InputSelect class="form-select" @bind-Value="@url.ConsumerType">
                            @foreach (var label in Enum.GetValues<Attachments_AttachmentUrlConsumerType>())
                            {
                                <option value="@label">@label</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => url.ConsumerType)"></ValidationMessage>
                    </div>
                </div>
                <div class="url-actions">
                    <button type="button"  @onclick="() => RemoveAttachmentUrl(url)">Remove</button>
                </div>
            </div>
        }
    </div>
    <button type="button"  @onclick="AddAttachmentUrl">Add URL</button>
</div>

@code {

    private void AddAttachmentUrl()
    {
        Value!.Add(new V1ServiceOwnerDialogsCommandsCreate_AttachmentUrl());
        ValueChanged.InvokeAsync(Value);
    }

    private void RemoveAttachmentUrl(V1ServiceOwnerDialogsCommandsCreate_AttachmentUrl url)
    {
        Value!.Remove(url);
        ValueChanged.InvokeAsync(Value);
    }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out ICollection<V1ServiceOwnerDialogsCommandsCreate_AttachmentUrl> result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = CurrentValue ?? new List<V1ServiceOwnerDialogsCommandsCreate_AttachmentUrl>();
        validationErrorMessage = "";
        return true;
    }
}

<link rel="stylesheet" href="InputComponents.css" />