@using System.Runtime.InteropServices.JavaScript
@rendermode InteractiveServer
<div style="background-color: white">
    <label>@Values.PropertyName</label>
    <p>@Values.Description</p>
    <InputNumber min="@Values.Min"
                 max="@Values.Max"
                 required="@IsRequired"
                 TValue="int"
                 ValueExpression="@(() => Value)"
                 bind-Value="@(Value)"
                 ValueChanged="@((int v) => Data[Values.PropertyName] = v)"/>
</div>
<br>

@code {
    [Parameter]
    public required FieldRecord.IntRecord Values { get; set; }

    private bool IsRequired { get; set; }

    [Parameter]
    public required Dictionary<string, object> Data
    {
        get;
        set;
    }
    private int Value { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Value = 0;
        IsRequired = !Values.IsNullable;
        Data.TryAdd(Values.PropertyName, 0);
    }


}
