@inherits InputBase<V1ServiceOwnerDialogsCommandsCreate_Content>
@using System.Diagnostics.CodeAnalysis
@using Altinn.ApiClients.Dialogporten.Features.V1
<fieldset>
    <legend>Edit Content</legend>

    <div>
        <label>Title:</label>
        <InputCommonContentValue AdditionalAttributes="AdditionalAttributes" @bind-Value="@Value!.Title"
                                 @bind-Value:after="NotifyValueChanged"/>
    </div>

    <div>
        <label>Non-Sensitive Title:</label>
        <InputCommonContentValue @bind-Value="@Value.NonSensitiveTitle" @bind-Value:after="NotifyValueChanged"/>
    </div>

    <div>
        <label>Summary:</label>
        <InputCommonContentValue AdditionalAttributes="AdditionalAttributes" @bind-Value="@Value.Summary"
                                 @bind-Value:after="NotifyValueChanged"/>
    </div>

    <div>
        <label>Non-Sensitive Summary:</label>
        <InputCommonContentValue @bind-Value="@Value.NonSensitiveSummary" @bind-Value:after="NotifyValueChanged"/>
    </div>

    <div>
        <label>Sender Name:</label>
        <InputCommonContentValue @bind-Value="@Value.SenderName" @bind-Value:after="NotifyValueChanged"/>
    </div>

    <div>
        <label>Additional Info:</label>
        <InputCommonContentValue @bind-Value="@Value.AdditionalInfo" @bind-Value:after="NotifyValueChanged"/>
    </div>

    <div>
        <label>Main Content Reference:</label>
        <InputCommonContentValue @bind-Value="@Value.MainContentReference" @bind-Value:after="NotifyValueChanged"/>
    </div>
</fieldset>

@code {

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Console.WriteLine(Value == null);
        Value ??= new V1ServiceOwnerDialogsCommandsCreate_Content();
    }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out V1ServiceOwnerDialogsCommandsCreate_Content result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = CurrentValue ?? new V1ServiceOwnerDialogsCommandsCreate_Content();
        validationErrorMessage = "";
        return true;
    }

    private void NotifyValueChanged()
    {
        ValueChanged.InvokeAsync(Value);

        if (EditContext != null)
        {
            EditContext.NotifyFieldChanged(FieldIdentifier);
        }

    }


}