@using Altinn.ApiClients.Dialogporten.Features.V1
<fieldset>
    <legend>Edit Content</legend>

    <div>
        <label>Title:</label>
        <InputCommonContentValue ContentValue="@Content.Title" ContentValueChanged="ValueChanged"/>
    </div>

    <div>
        <label>Non-Sensitive Title:</label>
        <InputCommonContentValue ContentValue="@Content.NonSensitiveTitle" ContentValueChanged="ValueChanged"/>
    </div>

    <div>
        <label>Summary:</label>
        <InputCommonContentValue ContentValue="@Content.Summary" ContentValueChanged="ValueChanged"/>
    </div>

    <div>
        <label>Non-Sensitive Summary:</label>
        <InputCommonContentValue ContentValue="@Content.NonSensitiveSummary" ContentValueChanged="ValueChanged"/>
    </div>

    <div>
        <label>Sender Name:</label>
        <InputCommonContentValue ContentValue="@Content.SenderName" ContentValueChanged="ValueChanged"/>
    </div>

    <div>
        <label>Additional Info:</label>
        <InputCommonContentValue ContentValue="@Content.AdditionalInfo" ContentValueChanged="ValueChanged"/>
    </div>

    <div>
        <label>Main Content Reference:</label>
        <InputCommonContentValue ContentValue="@Content.MainContentReference" ContentValueChanged="ValueChanged"/>
    </div>
</fieldset>

@code {
    [Parameter]
    public required V1ServiceOwnerDialogsCommandsCreate_Content Content { get; set; }

    [Parameter]
    public EventCallback<V1ServiceOwnerDialogsCommandsCreate_Content> ContentChanged { get; set; }

    public void ValueChanged() => ContentChanged.InvokeAsync(Content);
}