<div style="background-color: white">
    <label>@Values.PropertyName</label>
    <p>@Values.Description</p>
    @{
        <InputText
            required="@IsRequired"
            bind-Value="@Value"
            Value="@Value"
            ValueExpression="@(() => Value)"
            ValueChanged="@(v =>
                          {
                              if (string.IsNullOrEmpty(v))
                              {
                                  Data[Values.PropertyName] = null;
                                  Value = null;
                              }
                              else
                              {
                                  Data[Values.PropertyName] = v;
                                  Value = v;
                              }

                          })"
        />
    }
</div>
<br>

@code {
    [Parameter]
    public required FieldRecord.StringRecord Values { get; set; }

    private bool IsRequired { get; set; }

    [Parameter]
    public required Dictionary<string, object?> Data { get; set; }

    private string? Value { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Value = null;
        if (Values.PropertyName == "mediaType")
        {
            Value = "text/plain";
        }

        IsRequired = !Values.IsNullable;
        Data.TryAdd(Values.PropertyName, Value);
    }
}
