@using Org.BouncyCastle.Asn1.Cms
<div>
    <label>@Values.PropertyName</label>
    <p>@Values.Description</p>
    <InputDate bind-Value="@Value"
               required="@IsRequired"
               Type="InputDateType.DateTimeLocal"
               TValue="DateTimeOffset"
               ValueExpression="@(() => Value)"
               ValueChanged="@(v => Data[Values.PropertyName] = v)"/>
    @* <InputDate type="Time" TValue="TimeOnly" bind-Value="@temp"/> *@
</div>

@code {
    private DateTimeOffset Value { get; set; }

    [Parameter]
    public required Dictionary<string, object?> Data { get; set; }

    [Parameter]
    public required FieldRecord.DateTimeRecord Values { get; set; }

    private bool IsRequired { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IsRequired = !Values.IsNullable;
        Data.TryAdd(Values.PropertyName, null);
    }
}
