<div style="background-color: gray">
    <label>@Values.PropertyName</label>
    <p>@Values.Description</p>
    <InputSelect bind-Value="@Value"
                 TValue="string"
                 ValueExpression="@(() => Value)"
                 ValueChanged="@(v => Data[Values.PropertyName] = v)">
        @foreach (var option in Values.Options)
        {
            <option value="@option">@option</option>
        }
    </InputSelect>
</div>
<br>

@code {
    private string Value { get; set; }

    [Parameter]
    public required Dictionary<string, object?> Data { get; set; }

    [Parameter]
    public required FieldRecord.EnumRecord Values { get; set; }

    [Parameter]
    public bool IsRequired { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Value = Values.Options.First();
        Data.TryAdd(Values.PropertyName, Value);
    }
}
