<div style="background-color: white">
    <label>@Values.PropertyName</label>
    <p>@Values.Description</p>
    @{
        <InputText
                        required="@IsRequired"
                        bind-Value="@Value"
                        ValueExpression="@(() => Value)"
                        ValueChanged="@(v => Data[Values.PropertyName] = v ?? "")"
        />
    }
</div>
<br>

@code {
    [Parameter]
    public required FieldRecord.StringRecord Values { get; set; }

    [Parameter]
    public bool IsRequired { get; set; }

    [Parameter]
    public required Dictionary<string, object> Data { get; set; }

    private string? Value { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Value = "";
        Data.TryAdd(Values.PropertyName, "");
    }
}
