@page "/Dialog"
@using System.Text
@using System.Text.Json
@using Altinn.ApiClients.Dialogporten.Features.V1
@using Newtonsoft.Json
@using Refit
@rendermode InteractiveServer
@inject IServiceownerApi ServiceOwnerApi
<h3>Dialog</h3>

@{
}
<form onsubmit="@DebugButton">
    <FieldRecordComp Data="@Data" FieldRecords="@Fields"/>
    <div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        <button class="btn btn-primary" onclick="@(() => DebugButton())">
            Debug
        </button>
    </div>
</form>

@{
    if (_showPopUp)
    {
        <div tabindex="-1" class="modal" role="dialog" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>response</h3>
                        <button onclick="@ClosePopUp">Close</button>
                    </div>
                    <div class="modal-body">
                        @if (_response != null)
                        {
                            <p>@_response.StatusCode @((int)_response.StatusCode)</p>
                            <br/>
                            var message = _response.IsSuccessStatusCode switch
                            {
                                            true => _response.Content,
                                            false => _response.Error.Content
                            };

                            @message

                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {

    private bool _showPopUp;
    protected override void OnParametersSet()
    {
        var bytes = Encoding.UTF8.GetBytes(_json);
        var utf8Reader = new Utf8JsonReader(bytes);
        var jsonElement = JsonElement.ParseValue(ref utf8Reader);
        Properties = jsonElement.GetProperty("properties");
        Fields ??= FieldParser.ParseFields(Properties);
    }
    private Dictionary<string, object?> Data { get; set; } = new(StringComparer.InvariantCultureIgnoreCase);

    private void ClosePopUp()
    {
        _showPopUp = false;
    }
    private async Task DebugButton()
    {
        Console.WriteLine(Data);
        // var dialog = Mapper.Map<V1ServiceOwnerDialogsCommandsCreate_Dialog>(Data);
        var serializeObject = JsonConvert.SerializeObject(
            Data,
            Formatting.Indented,
            new JsonSerializerSettings
            {
                            NullValueHandling = NullValueHandling.Ignore
            }
        );

        var createDialogCommand = JsonConvert.DeserializeObject<V1ServiceOwnerDialogsCommandsCreate_Dialog>(serializeObject,
            new JsonSerializerSettings
            {
                            NullValueHandling = NullValueHandling.Ignore
            }
        );
        // Console.WriteLine(dialog?.Progress);

        Console.WriteLine(createDialogCommand?.Progress);
        if (createDialogCommand == null) return;
        var response = await ServiceOwnerApi.V1ServiceOwnerDialogsCreateDialog(createDialogCommand);
        Console.WriteLine(response.StatusCode);
        _response = response;
        _showPopUp = true;
    }
    private IApiResponse<string>? _response;
    private static IEnumerable<FieldRecord>? Fields { get; set; }
    private JsonElement Properties { get; set; }
    // private string Json = File.ReadAllText("jsonFiles/V1ServiceOwnerDialogsCreate_Dialog.json");
    private readonly string _json = File.ReadAllText("jsonFiles/schema.json");
}